function tooltips() { 
  $("#o1").simpletip({
      content: '<br> <%= image_tag "pg.png" %> <br> <span>Jose Calderon</span> ',
      fixed: true, 
      position: [750, 30]
  });

  $("#o2").simpletip({
      content: '<br> <%= image_tag "sg.png" %> <br> <span>Iman Shumpert</span> ',
      fixed: true, 
      position: [750, 30]
  });
  $("#o3").simpletip({
      content: '<br> <%= image_tag "sf.png" %> <br> <span>J.R. Smith</span> ',
      fixed: true, 
      position: [750, 30]

  });
   $("#o4").simpletip({
      content: '<br> <%= image_tag "C.png"  %> <br> <span>Samuel Dalembert</span> ',
      fixed: true, 
      position: [750, 30]

    });

  $("#o5").simpletip({
      content: '<br> <%= image_tag "pf.png" %> <br> <span>Carmelo Anthony</span> ',
      fixed: true, 
      position: [750, 30]
  });
 
}


